<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
    <table>
        <tr>
            <td>First Number</td>
            <td><input type="text" name="txtNumber1" id="txtNumber1" value={{number1}}></td>
        </tr>
        <tr>
            <td>Second Number</td>
            <td><input type="text" name="txtNumber2"  value={{number2}}></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="+" name="button1">
                <input type="submit" value="-" name="button2">
            </td>
        </tr>
        <tr>
            <td>Result:</td>
            <td>{{ Result }}</td>
        </tr>
    </table>
</form>
</body>
</html>
    

