<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adding turf</title>
    
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="formholder">
        <h1>Add Turf </h1>
        <form action method="get" style="text-align:center;">
        <div class="input-class">
            <p> Turf name</p>
            <input type="text" name="" placeholder= "name" id="">
        </div>
        <div class="input-class">
            <p>address</p>
            <input type="text" name="" placeholder=" address" id="">

        </div>
        <div class="input-class">
            <p>location</p>
            <input type="url" name="" placeholder=" location" id="">

        </div>

        <div  class="input-class">

            <p> image</p>

            <input type="url" name="" placeholder=" turfimage" id="">

        </div>
        <div class="input-class">
            <p>contact no</p>
            <input type="number" name="" placeholder="number" id="">
        </div>
        <div >
            
            <input  class="btn" type="button" value="Add">

        </div>
        </form>
    </div>
</body>
</html>