<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <b>{{ request.session.ownername }}</b>
    <h1>Welcome To Turf Owner Panel</h1>
    <a href="{% url 'TurfOwnerHomePage' %}">Homepage</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{% url 'AddTurfManager' %}">Manage Turf Managers</a>&nbsp;&nbsp;&nbsp;
    <a href="{% url 'TurfOwnerProfile' %}">View profile</a>&nbsp;&nbsp;&nbsp;
    <a href="{% url 'TurfOwnerLogout' %}">Logout</a>
    <a href="{% url 'Addturf' %}">Add turf</a>
    <a href="{% url 'view bookings' %}">view bookings</a>

</body>
</html>