<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <b>{{ request.session.managername }}</b>
    <h1>Welcome To Turf Owner Panel</h1>
    <a href="{% url 'TurfManagerHomePage' %}">Homepage</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <!-- <a href="{% url 'AddTurfManager' %}">Manage Turf Managers</a>&nbsp;&nbsp;&nbsp; -->
    <a href="{% url 'TurfManagerProfile' %}">View profile</a>&nbsp;&nbsp;&nbsp;
    <a href="{% url 'TurfManagerLogout' %}">Logout</a>

</body>
</html>