<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <b>{{ request.session.username }}</b>
    <h1>Welcome To user panel</h1>
    <a href="{% url 'UserHomePage' %}">Homepage</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
    <a href="{% url 'userProfile' %}">View profile</a>&nbsp;&nbsp;&nbsp;
    <a href="{% url 'book turf' %}">book turf</a>
    <a href="{% url 'userLogout' %}">Logout</a>

</body>
</html>